@media screen and (max-width:840px){

    nav{
        flex-direction: column;
    }

    .slider{
        height: 14vh;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }

    nav ul{
        justify-content: center;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 12px 16px;
    }

    nav ul{
        height: 34px;
    }

    .text{
        font-size: 11px;
    }
}


button {
    justify-content: center;
    padding: 0 14px;
    margin: 0 23px 0 39px;
  }